html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#app-canvas {
  background: #212121;
}
