source https://www.nuget.org/api/v2

group Compiler
    source https://www.nuget.org/api/v2

    nuget DotNetKit.FSharp
    nuget FParsec

group UnitTest
    source https://www.nuget.org/api/v2

    nuget Persimmon
    nuget Persimmon.Console
