source https://www.nuget.org/api/v2

nuget System.Reactive
nuget System.Reactive.Interfaces 3.0.0
nuget DotNetKit.Core
nuget DotNetKit.FSharp
nuget ReactiveProperty 3.0

group Wpf
    source https://www.nuget.org/api/v2

    nuget MaterialDesignThemes
    nuget gong-wpf-dragdrop

group UnitTest
    source https://www.nuget.org/api/v2

    nuget Persimmon
    nuget Persimmon.Console
