root = true

[*.hsp]
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx}]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,tsx}]
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
