<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.1.2" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
  <package id="VainZero.Persimmon" version="1.2.1" targetFramework="net452" />
  <package id="VainZero.Persimmon.Cli" version="1.2.1" targetFramework="net452" />
</packages>