; Top-most EditorConfig file
root = true



; Global settings
[*.{txt,md}]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yaml,yml}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true



; Web
[*.{html,pug,css,scss,js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false



; VSCode
[{launch.json,tasks.json}]
indent_style = space
indent_size = 4
charset = utf-8
insert_final_newline = false
trim_trailing_whitespace = true
insert_final_newline = false
